<h1>
  {{title}}
</h1>

<simple-tiny
  [elementId]="'my-editor-id'"
  (onEditorKeyup)="keyupHandlerFunction($event)"
  >
</simple-tiny>


<textarea [(ngModel)] = "data.data"> </textarea>

<textarea [(ngModel)] = "data.data"> </textarea>

<button (click) = "update()"></button>

<div [innerHTML]="data.data"></div>

<br>
<p>
  {{dyna}}
</p>

<br>
Insert data
<br>
<input type="text" #val>
<button (click)="addData(val.value)"> add data </button>
<br><br>
<button (click)="getData()"> Get data </button>
<br><br>
<ul>
  <li *ngFor="let item of items"> {{item}} </li>
</ul>
<p>
  Common data service in root component
</p>
<br>
Insert data
<br>
<input type="text" #common>
<button (click)="addCommonData(common.value)"> add data </button>
<br><br>
<button (click)="getCommonData()"> Get data </button>
<br><br>
<ul>
  <li *ngFor="let commonitem of commonitems"> {{commonitem}} </li>
</ul>


<app-secondcomp></app-secondcomp>